# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
ENV/
env/
pip-freeze.txt
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data & Models (ignore local test files not in data/)
*.csv
*.pkl
*.joblib
!data/adult_test_data.csv
!data/sample_loan_data.csv
!data/adult_model.skops
!data/sample_model.skops
uv.lock