# External libraries
streamlit
pandas
scikit-learn
joblib
matplotlib
numpy
pytest
fastapi
uvicorn
python-multipart
fairlearn
requests
sqlalchemy
asyncpg
greenlet
redis

# Install local package (fairness_troops)
-e .